<div class="container-fluid">
    <header>
        <h1>{{title}}</h1>
        <!-- The navigation menu -->
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Ajuda</a>
        </div>
    </header>
</div>